.last_friends_item {
  p {
    img {
      width: 45px;
      height: 45px;
      border-radius: 30px;
      border: 1.5px solid lightpink;
      background-color: white;
    }

    text-align: center;
    margin: 0 0 0 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  text-align: center;
  font-weight: normal;
  font-size: 0.75em;

  margin: 0 3px 0 0;
}

