.profile_info {
  position: relative;

  .info_wrapper {
    margin-left: 18%;
  }

  .status {
    font-weight: normal;
  }

  .location {
    font-weight: normal;
    font-size: 0.9em;
  }

  .avatar {
    border-radius: 100%;
    width: 15%;
    max-width: 110px;
    position: absolute;
    top: 48%;
    left: 8px;

    border: 2px solid #950740;
    background-color: white;
  }

  .banner {
    img {
      width: 100%;
      max-height: 130px;
      border-radius: 5px;
    }
  }
}

