.profile_info {
  .wrapper {
    margin-left: 18%;
  }

  .fullname {

  }

  .status {
    font-weight: normal;
  }

  .location {
    font-weight: normal;
    font-size: 0.9em;
  }
}

.img_wrapper {
  position: relative;

  .avatar {
    border-radius: 100%;
    width: 15%;
    position: absolute;
    top: 72%;
    left: 10px;

    border: 2px solid lightpink;
    background-color: white;
  }
}

.banner {
  img {
    width: 100%;
    border-radius: 5px;
  }
}