.container {
  color: #f8e4e6;
  display: flex;
  border-top: 1px solid #12161c;

  :hover {
    background-color: #515c65;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;

    padding-left: 10px;

    .avatar {
      padding: 10px 15px 5px 0;

      .avatar_image {
        width: 50px;
        height: 50px;
        border-radius: 2em;
        background-color: white;
      }
    }

    .title {
      box-sizing: border-box;
      padding: 8px 0 8px 0;
      height: 70px;

      .username {
        margin: 3px 0 7px 0;
        color: #C3073F;
      }

      .last_message {
        display: inline-flex;
        align-items: center;

        font-size: 0.85em;
        padding-bottom: 1px;

        .avatar_image {
          max-width: 20px;
          max-height: 20px;
          border-radius: 2em;
          margin-right: 4px;
        }
      }
    }
  }
}



