.container {
  a {
    color: black;
    display: inline-flex;
    align-items: center;
  }

  padding: 5px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid lightpink;
  background-color: white;
  margin-right: 7px;
}