.field {
  margin-top: 5px;

  form {
    display: flex;
    align-items: center;
  }

  @import "src/assets/stylesheets/form-textarea";

  textarea {
    width: 70%;
    height: 25px;
  }

  @import "src/assets/stylesheets/form-button";
}