.field {
  margin-top: 5px;

  textarea {
    resize: none;
    outline: none;
    overflow: hidden;

    border-radius: 6px;

    width: 70%;
    height: 25px;

    padding-left: 7px;
    line-height: 1.85em;
  }
}