.container {
  grid-area: 1 / 1 / 2 / 13;
  background-color: #0D1117;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.logo {
  grid-area: 1 / 3 / 2 / 4;
  align-self: center;
  padding-left: 8px;
  width: 58px;
  height: 58px;

  img {
    width: 58px;
    height: 58px;
    align-self: center;
  }
}

.login {
  cursor: pointer;
  justify-self: end;
  align-self: center;
  margin-right: 10px;
  grid-area: 1 / 10 / 2 / 11;

  color: #C3073F;
  :hover {
    color: #950740;
  }

  a {
    color: #C3073F;
    :hover {
      color: #950740;
    }
  }
}