.container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50px;

  .logo {
    font-size: 1.2em;
  }

  .errors {
    color: #d93431;
    font-size: 0.9em;
    font-weight: bold;
  }

  input {
    width: 220px;
    margin-top: 2%;
    border: 1.5px solid #dddfe2;
    height: 22px;
    line-height: 16px;
    color: #1d2129;
    border-radius: 6px;
    padding-left: 7px;
  }

  .input_error {
    border: 1.5px solid #d93431;
  }

  button {
    margin-top: 1%;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 38px;
    padding: 0 16px;
    width: 200px;
    font-family: inherit;
    color: #fff;
    box-sizing: content-box;
    cursor: pointer;
    font-weight: bold;
  }
}