body {
  background-color: #d2d2d2;
  font-weight: bold;
}

.App {
  display: grid;

  grid-template-areas:
    "header header"
    "navbar content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: #61dc61;
}

.header img {
  width: 50px;
}

.navbar {
  grid-area: navbar;
  background-color: #c2c248;
}

.navbar a {
  text-decoration: none;
}

.content {
  grid-area: content;
  background-color: #4949f1;
}

.profile-info img {
  width: 100px;
}
