body {
  background-color: #d2d2d2;
  font-weight: bold;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

a {
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}
