body {
  background-color: #d2d2d2;
  font-weight: bold;
}

.App {
  display: grid;

  grid-template-areas:
    "header header"
    "navbar content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
